@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I advise not to use any real passwords emails or data for this simple test app</p>

<!-- I didnt see a reason to delete this little page -->